*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f6f5f3;
}

/* mobile first */

/* regole header */
header{
    background-color: white;
    text-align: center;
    padding: 10px;
}

h1{
    color: #ff9614;
    font-family: "Nerko One", cursive;
    font-size: 3rem;
}

/* regole footer */

footer{
    background-color: #7c69a4;
    line-height: 30px;
    padding: 25px 30px;
    color: white;
    text-align: center;
}

footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li{
    list-style: none;
}

footer a{
    color: white;
    margin: 10px;

}





/* regole per tablet */
@media screen and (min-width:768px){
    header{
        text-align: left;
    }

    
}


/* regole per desktop */
@media screen and (min-width:992px){
    .row{
        display: flex;
        justify-content: space-between;
    }
}